In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("5colleges.csv")
df

       marks  year   caste list      College  cutoff  result
0         42  2021    NT-C  1st  D.G.Ruparel      77       0
1         62  2021      SC  1st  D.G.Ruparel      44       1
2         64  2021    Open  1st  D.G.Ruparel      85       0
3         45  2021    NT-B  1st  D.G.Ruparel      60       0
4         99  2021    NT-C  1st  D.G.Ruparel      77       1
...      ...   ...     ...  ...          ...     ...     ...
14509     90  2019  Sindhi  3rd      Hinduja      50       1
14510     42  2019  Sindhi  3rd      Hinduja      50       0
14511     67  2019  Sindhi  3rd      Hinduja      50       1
14512     58  2019  Sindhi  3rd      Hinduja      50       1
14513     35  2019  Sindhi  3rd      Hinduja      50       0

[14514 rows x 7 columns]

In [25]:
df.dropna(inplace=True)

In [26]:
df.drop(columns=['cutoff'],inplace=True)

In [27]:
fst_df = df[df['list']=='1st']
snd_df = df[df['list']=='2nd']
trd_df = df[df['list']=='3rd']

In [28]:
fst_df = fst_df.sample(fst_df.shape[0])
snd_df = snd_df.sample(snd_df.shape[0])
trd_df = trd_df.sample(trd_df.shape[0])

In [29]:
fst_df.sample(2)

       marks  year   caste list  College  result
11226     83  2021  Sindhi  1st  Hinduja       1
7719      62  2021  Sindhi  1st       KC       0

In [30]:
fst_df.drop(columns=['year','list'],inplace=True)
snd_df.drop(columns=['year','list'],inplace=True)
trd_df.drop(columns=['year','list'],inplace=True)

In [31]:
fst_df['result'] = fst_df['result'].astype(int)
snd_df['result'] = snd_df['result'].astype(int)
trd_df['result'] = trd_df['result'].astype(int)

In [32]:
x1 = fst_df.drop(columns=['result'])
y1 = fst_df['result']
x2 = snd_df.drop(columns=['result'])
y2 = snd_df['result']
x3 = trd_df.drop(columns=['result'])
y3 = trd_df['result']

In [33]:
from sklearn.model_selection import train_test_split
x_train_1,x_test_1,y_train_1,y_test_1 = train_test_split(x1,y1,test_size=0.2,random_state=0)
x_train_2,x_test_2,y_train_2,y_test_2 = train_test_split(x2,y2,test_size=0.2,random_state=0)
x_train_3,x_test_3,y_train_3,y_test_3 = train_test_split(x3,y3,test_size=0.2,random_state=0)

In [34]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

In [35]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['caste','College'])
]
,remainder='passthrough')

In [36]:
pipe1 = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression())
])
pipe2 = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression())
])
pipe3 = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression())
])

In [37]:
pipe1.fit(x_train_1,y_train_1)

C:\Users\RAHUL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['caste', 'College'])])),
                ('step2', LogisticRegression())])

In [38]:
pipe2.fit(x_train_2,y_train_2)

C:\Users\RAHUL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['caste', 'College'])])),
                ('step2', LogisticRegression())])

In [39]:
pipe3.fit(x_train_3,y_train_3)

C:\Users\RAHUL\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['caste', 'College'])])),
                ('step2', LogisticRegression())])

In [40]:
def predict_admission(college,caste,marks):
    proba1 = pipe1.predict_proba(pd.DataFrame({'marks':[marks],'caste':[caste],'College':[college]}))
    proba2 = pipe2.predict_proba(pd.DataFrame({'marks':[marks],'caste':[caste],'College':[college]}))
    proba3 = pipe3.predict_proba(pd.DataFrame({'marks':[marks],'caste':[caste],'College':[college]}))
    get_per1 = proba1[0][1]
    get_per2 = proba2[0][1]
    get_per3 = proba3[0][1]
    x = 'Chances for getting admission in 1st cut-off is {} %'.format(get_per1*100)
    y = 'Chances for getting admission in 2nd cut-off is {} %'.format(get_per2*100)
    z = 'Chances for getting admission in 3rd cut-off is {} %'.format(get_per3*100)
    return x,y,z

In [41]:
predict_admission('Wilson','Open',84)

('Chances for getting admission in 1st cut-off is 83.7744608747837 %',
 'Chances for getting admission in 2nd cut-off is 95.63101199573686 %',
 'Chances for getting admission in 3rd cut-off is 98.45531863652135 %')

In [42]:
predict_admission('KC','Open',84)

('Chances for getting admission in 1st cut-off is 22.64391390691858 %',
 'Chances for getting admission in 2nd cut-off is 68.23936225902378 %',
 'Chances for getting admission in 3rd cut-off is 93.45419329630239 %')

In [43]:
predict_admission('D.G.Ruparel','Open',84)

('Chances for getting admission in 1st cut-off is 81.23383093358655 %',
 'Chances for getting admission in 2nd cut-off is 94.19285222033376 %',
 'Chances for getting admission in 3rd cut-off is 98.59282310864825 %')

In [44]:
predict_admission('Hinduja','Open',84)

('Chances for getting admission in 1st cut-off is 65.61677942403483 %',
 'Chances for getting admission in 2nd cut-off is 89.64096652824567 %',
 'Chances for getting admission in 3rd cut-off is 96.96265838006748 %')

In [45]:
import pickle

In [46]:
pickle.dump(pipe1,open('pipe1.pkl','wb'))
pickle.dump(pipe2,open('pipe2.pkl','wb'))
pickle.dump(pipe3,open('pipe3.pkl','wb'))

In [ ]:
df['caste'].unique()

In [ ]:
df = pd.read_csv("5colleges.csv")
df.head()

In [ ]:
df.dropna(inplace=True)

In [ ]:
df['cutoff'] = df['cutoff'].astype(int)

In [ ]:
df

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
new_df = df[df['College']=='Wilson']
new_df = new_df[new_df['year']==2021]
new_df = new_df[new_df['College']=='Wilson']
new_df.dropna(inplace=True)
new_df['cutoff'] = df['cutoff'].astype(int)

In [ ]:
new_df = df[df['year']==2021]
new_df = new_df[new_df['College']=='Wilson']
new_df.dropna(inplace=True)
new_df['cutoff'] = new_df['cutoff'].astype(int)
max_df = new_df.groupby(['caste','list']).max()['cutoff']
min_df = new_df.groupby(['caste','list']).min()['cutoff']

In [ ]:
max_df

In [ ]:
min_df

In [ ]:
def graph_plot(year):
    new_df = df[df['year']==year]
    new_df.dropna(inplace=True)
    new_df['cutoff'] = df['cutoff'].astype(int)
    graph_df = new_df.groupby(['caste','list']).max()['cutoff'].reset_index()
    fig, ax = plt.subplots(figsize=(15, 10))
    sns.set_palette('Blues')
    d = sns.barplot(x='caste',y='cutoff',data=graph_df,hue='list',ax=ax)

In [ ]:
graph_plot(2021)

In [ ]:
to_df = df[df['year']==2021]
to_df

In [ ]:
x2021 = to_df.groupby(['caste','list']).max()['cutoff'].reset_index()
x2021

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def show_values(axs, orient="v", space=.01):
    def _single(ax):
        if orient == "v":
            for p in ax.patches:
                _x = p.get_x() + p.get_width() / 2
                _y = p.get_y() + p.get_height() + (p.get_height()*0.01)
                value = '{:.1f}'.format(p.get_height())
                ax.text(_x, _y, value, ha="center") 
        elif orient == "h":
            for p in ax.patches:
                _x = p.get_x() + p.get_width() + float(space)
                _y = p.get_y() + p.get_height() - (p.get_height()*0.5)
                value = '{:.1f}'.format(p.get_width())
                ax.text(_x, _y, value, ha="left")

    if isinstance(axs, np.ndarray):
        for idx, ax in np.ndenumerate(axs):
            _single(ax)
    else:
        _single(axs)